
DB_ROOT_PASSWORD=ProjectTrackerR00TP@33WORD
DB_PASSWORD=ProjectTrackerP@33WORD
DB_NAME=ProjectTrackerDb
DB_USER=rojectrackeruser

# ProjectTracker.Client/.env.development  
VITE_API_URL=http://localhost:5000/api